
/* Nav */

body {
  background-image: url ("");
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}


/* Jumbotron */

.jumbotron {
  background-color: grey;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;;
}